.sidebar {
  display: flex;
  flex-direction: row;
  padding-right: 116px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  padding-right: 16px;
}

.sidebar__username {
  white-space: nowrap;
}

.sidebar__edit-profile__btn {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  border-style: none;
}

.sidebar__logout__btn {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  border-style: none;
}
